<app-section heading="About Me">
  <div class="content">
    <div class="photo-container">
      <img src="./assets/myPhoto.jpg" class="my-photo" />
    </div>
    <div class="about-me-content-container">
      <div class="about-me-content">
        <mat-icon>school</mat-icon>
        <div class="about-me-content-text mat-subheading-2">Hong Kong University of Science and Technology</div>
      </div>
      <div class="about-me-content">
        <mat-icon>class</mat-icon>
        <div class="about-me-content-text mat-subheading-2">Computer Science and Information Engineering(Networking Option)</div>
      </div>
      <div class="about-me-content">
        <mat-icon>location_on</mat-icon>
        <div class="about-me-content-text mat-subheading-2">Hong Kong</div>
      </div>
      <div class="about-me-content">
        <mat-icon>language</mat-icon>
        <div class="about-me-content-text mat-subheading-2">Cantonese, English</div>
      </div>
      <div class="about-me-content">
        <mat-icon>favorite</mat-icon>
        <div class="about-me-content-text mat-subheading-2">Anime, RPG, drawing</div>
      </div>
    </div>
  </div>
</app-section>