@import '~@angular/material/theming';

@mixin about-me-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  
  .photo-container {
    display: flex;
    padding: 12px 0;
    .my-photo {
      max-height: 200px;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin: 12px auto;
    }
  }
  .about-me-content-container {
    margin: 0 auto;
    width: fit-content;
    @media (max-width: 799px) {
      padding: 0 24px;
    }
    .about-me-content {
      display: flex;
      padding: 12px 0;
      align-items: center;
      color: mat-color($primary);
      .mat-icon {
        padding-right: 12px
      }
      .about-me-content-text {
        margin: 0;
      }
    }

  }
}
