@import '~@angular/material/theming';

@mixin layout-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  
  .toolbar {
    position: fixed;
    top: 0;
    z-index: 10;
    .toolbar-title {
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
      margin-right: 48px;
      .toolbar-title-logo {
        height: 40px;
        border-radius: 50%;
        margin-left: 16px;
      }
      .toolbar-title-text {
        padding-left: 16px;
        padding-right: 24px;
      }
    }
  }
  .section {
    padding-top: 64px;
    > :nth-child(odd) {
      background-color: mat-color($primary, 50);
    }
  }
}
