<mat-toolbar color="primary" class="toolbar mat-elevation-z6">
  <div matRipple class="toolbar-title" (click)="top.click()">
    <img class="toolbar-title-logo" src="./assets/logo.png" />
    <span class="toolbar-title-text">Jovie</span>
  </div>
  <a class="toolbar-link-button" #top routerLink='.' fragment="top"></a>
  <button class="toolbar-link-button" mat-button routerLink='.' fragment="about-me">About me</button>
  <button class="toolbar-link-button" mat-button routerLink='.' fragment="skills">Skills</button>
  <button class="toolbar-link-button" mat-button routerLink='.' fragment="experience">Experience</button>
  <button class="toolbar-link-button" mat-button routerLink='.' fragment="works">Works</button>
  <div class="spacer"></div>
  <app-contacts></app-contacts>
  <button mat-flat-button color="accent" href="./assets/Jovie Fung CV.pdf" download="Jovie Fung CV.pdf">My CV</button>
</mat-toolbar>
<section class="section">
  <app-jumbotron id="top"></app-jumbotron>
  <app-about-me id="about-me"></app-about-me>
  <app-skills id="skills"></app-skills>
  <app-experience id="experience"></app-experience>
  <app-works id="works"></app-works>
</section>
